<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>Lets save the worlds</div>
    <div id="container"><div>

    <button id="login" onclick="onclick1()">Click me</button>
    <script>
        async function postData(url, data) {
            // Default options are marked with *
            const response = await fetch(url, {
              method: "POST", // *GET, POST, PUT, DELETE, etc.
              mode: "cors", // no-cors, *cors, same-origin
              cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
              credentials: "same-origin", // include, *same-origin, omit
              headers: {
                "Content-Type": "application/json",
                // 'Content-Type': 'application/x-www-form-urlencoded',
              },
              redirect: "follow", // manual, *follow, error
              referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
              body: JSON.stringify(data), // body data type must match "Content-Type" header
            });
            const headers = response.headers;
            const cookies = headers.get('Set-Cookie');
            console.log(cookies)
            return response.json(); // parses JSON response into native JavaScript objects
          }
          
          postData("http://127.0.0.1:8000/api/token/", {"email":"a@a.com","password":"a"}).then((data) => {
            console.log(data); // JSON data parsed by `data.json()` call
          });
        
        
        
          async function getData(url) {
            // Default options are marked with *
            const response = await fetch(url, {
              method: "GET", // *GET, POST, PUT, DELETE, etc.
              //mode: "cors", // no-cors, *cors, same-origin
              
              credentials: "include",  // include, *same-origin, omit
              headers: {
                //"Content-Type": "application/json",
                //"Cross-Origin-Opener-Policy" : "same-origin",
              },
             
              });
    
        
            return response.json(); // parses JSON response into native JavaScript objects
          }
          //document.cookie = 'sandwich=turkey;';
          function onclick1() {
        
            getData("http://127.0.0.1:8000/api/users/").then((data) => {
                console.log(data); // JSON data parsed by `data.json()` call
              });
        
          }
          








    </script>    
</body>
</html>